<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Ironbeer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/styles.css" />
</head>
<body>

<div>
 <div class="container beer-homepage">
          <img class="image-homepage" src="images/beer.png"/>
</div>
</div>

<div class="container flex-button">
           <a class="home-button" href="/beers">Check the beers!</a>
           <a class="home-button" href="/randombeers">Random Beer</a>           
</div>


</body>
</html>